<%- include('../partials/header') %>

<section id="show-page">
<table>
    <tbody>
        <tr><th>Airline:</th><td><%= flight.airline %></td></tr>
        <tr><th>Flight Number:</th><td><%= flight.flightNo %></td></tr>
        <tr><th>Departs:</th><td><%= flight.departs %></td></tr>
        <tr><th>Airport:</th><td><%= flight.airport %></td></tr>
    </tbody>
</table>
</section>

<%- include('../partials/footer') %>


